fastapi
uvicorn
python-multipart
python-dotenv
pydantic-settings
PyJWT[crypto]
pymupdf
openpyxl

# LLM / Agent
langchain
langgraph
langchain-groq
langchain-core
langchain-community
langchain-ollama

# Graph DB
neo4j

# Vector DB
langchain-chroma
chromadb-client
langchain-cohere
cohere

# Slack
slack-sdk

# Audio transcription
groq
pytest
httpx
